h1{
    background-color: rgb(81, 11, 85);
    color: #ced3d4;
    border-radius: 100px;
}

p{ 
    color: rgb(230, 224, 230);
}

h2{
    background-color: rgb(117, 75, 117);
    color: rgb(224, 218, 224);
    border-radius: 15px;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(146, 135, 146);
    color: #333;
}
 
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(179, 149, 179);
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}
 
ul li {
    padding: 8px;
    background: rgb(230, 219, 230);
    margin: 5px;
    border-radius: 5px;
}
 
a {
    padding: 10px 15px;
    background: rgb(117, 75, 117);
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
}
 
